@font-face {
	font-family: airplane;
	src: url('<%= asset_path('airplane.ttf') %>');   	
}

html{
	font-size: 16px;
}
.wrapper{
  	width:230px;
  	height:300px;
  	padding:10px;
  	background: #6CC8BE;
  	-moz-border-radius: 15px;
    border-radius: 15px;
    font-family: airplane,helvetica,arial,sans-serif;
}
.table{
}
.left-column{
  	text-align: right;
  	color:white;

}
.right-column{
	color:black;
}
.Next-Bus{
	font-size: 24px;
}



