@font-face {
	font-family: airplane;
	src: url('<%= asset_path('airplane.ttf') %>');   	
}
@font-face {
  font-family: Graduate;
  src: url('<%= asset_path('Graduate-Regular.ttf') %>');    
}
@font-face {
  font-family: OpenSans-Bold;
  src: url('<%= asset_path('OpenSans-Bold.ttf') %>');    
}
@font-face {
  font-family: Franchise-Bold;
  src: url('<%= asset_path('Franchise-Bold.ttf') %>');    
}

html{
	font-size: 16px;
}
.wrapper{
  	width:215px;
  	padding:10px;
  	background-image: url('bus_wheel.jpg'); 
    border:1px white;
  	-moz-border-radius: 15px;
    border-radius: 15px;
    font-family:helvetica,arial,sans-serif;
}
.title{
  float:left; 
  width;80px;
  padding-right: 5px;
  font-size:32px; 
  color:white;
  font-family:;
  font-weight:;
  letter-spacing:2px;
  text-shadow: 1px 1px 1px black;
}
div.horizontal-line{
    min-height: 1px;
    clear:both; width:100%;
    border-bottom:1px solid #d1d1d1;
    height:1px; padding-top:5px;
    margin-top:0px;
    margin-bottom:5px;
}
.fields{
  border-spacing: 2px;
}
.left-column{
  	text-align: right;
  	color:white;
    text-shadow: 1px 1px 1px #404040;
}
.right-column{
	color:black;
}
.Next-Bus{
	font-size: 22px;
  vertical-align: top;
  text-shadow: 1px 1px 1px black;
}
div.read-out{
  width: 110px;
  height: 75px;
  background: white;
  opacity:0.9;
  filter:alpha(opacity=90); /* For IE8 and earlier */ 
  -moz-box-shadow:    1px 1px 5px 0px gray;
  -webkit-box-shadow: 1px 1px 5px 0px gray;
  box-shadow:         1px 1px 5px 0px gray;
  -moz-border-radius: 5px;
  border-radius: 5px;
}



