

<div class="wrapper">
<div>
	<div class="title">TRANSPO</div>
	<%= image_tag "bus_logo.png" %>
</div>
<div class="horizontal-line"></div>
<table class="fields">
	<tr>
		<td class="left-column">Busline:</td>
		<td><select name="route"></select></td>
	</tr>
	<tr>
		<td class="left-column">Stop:</td>
		<td><select name="stop"></select></td>
	</tr>
	<tr>
		<td class="left-column">Direction:</td>
		<td><select name="direction"></select></td>
	</tr>
	<tr>
		<td class="left-column">Time:</td>
		<td><select name="time"></select></td>
	</tr>
	<tr>
		<td class="left-column">Day:</td>
		<td><select name="day"></select></td>
	</tr>
	<tr>
		<td class="Next-Bus left-column">Next Bus:</td>
		<td class="read-out"></td>
	</tr>
</table>
</div>